extends layout

block content
  +back()
  h1 Orders
  .card
    button#refresh Refresh
    table
      thead
        tr
          th Order ID
          th Book Name
          th User Email
          th Original File ID
          th Translated File ID
          th Status
          th Created
          th Actions
      tbody#orders
  script(src='/assets/orders.js')