extends layout

block content
  +back()
  h1 Orders
  .card
    form#create-form
      label Book Name
        input(name='bookName', required)
      label User Email
        input(name='userEmail')
      label Original File ID
        input(name='originalFileId')
      label Translated File ID
        input(name='translatedFileId')
      button(type='submit') Create Order
      span#status
  .card
    button#refresh Refresh
    table
      thead
        tr
          th Order ID
          th Book Name
          th User Email
          th Original File ID
          th Translated File ID
          th Status
          th Created
          th Actions
      tbody#orders
  script(src='/assets/orders.js')