extends layout

block content
  a(href='/') ← Back
  h1 Upload
  .card
    form#upload-form(enctype='multipart/form-data')
      input(type='file', name='file', required)
      button(type='submit') Upload
      span#status
  .card
    .row
      div
        strong Uploads
        button#refresh(type='button') Refresh
      table
        thead
          tr
            th Filename
            th MIME
            th Size
            th Created
        tbody#tbody
  script(src='/assets/upload.js')